## 01 Class exercise slicing dataframe
Use this data:
```python
data = np.array([['','Col1','Col2','col3'],
                ['Row1',1,2,3],
                ['Row2',4,5,6],
                ['Row3',7,8,9]])
```
1. Create a DataFrame (wrap the data above in a pandas DataFrame in a way that printing the dataframe and its index and column attributes gives this result)  
`pd.DataFrame(data=data[1:4,1:4], columns=data[0,1:4], index=data[1:4,0])`  

``` 
     Col1 Col2 col3  
Row1    1    2    3
Row2    4    5    6
Row3    7    8    9

Index(['Row1', 'Row2', 'Row3'], dtype='object')
Index(['Col1', 'Col2', 'col3'], dtype='object')
```

2. Make slices of data:
   1. second column using column name
   2. third column using column index (.iloc[])
   3. slice element at third row of second column (use .iloc())

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

data = np.array([['','Col1','Col2','col3'],
                ['Row1',1,2,3],
                ['Row2',4,5,6],
                ['Row3',7,8,9]])

variablenavn = pd.DataFrame(data=data[1:4,1:4], columns=data[0,1:4], index=data[1:4,0])
print(variablenavn)
print(variablenavn['Col2'])
print(variablenavn.iloc[:,2])
print(variablenavn.iloc[2,1])

     Col1 Col2 col3
Row1    1    2    3
Row2    4    5    6
Row3    7    8    9
Row1    2
Row2    5
Row3    8
Name: Col2, dtype: object
Row1    3
Row2    6
Row3    9
Name: col3, dtype: object
8

## 02 Exercise Pandas Data Series
The CO2 Emission data set above is not updated since 2014
1. Create a Pandas Series with emission data from 2014 for each country or region
2. Find the 10 Countries/Regions with the highest emissions in 2014 and show emission numbers (reverse sorted)
3. Remove if you can those rows that are not countries (regions and aggregated groups) (hint:  [ISO 3166, Alpha-3 country codes](https://www.iban.com/country-codes), a csv file can be found here: `/data/country_codes.csv`)
    - Find the 10 countries with highest emissions in 2014
4. Plot the emissions of China and USA over time respectively

In [26]:
data = pd.read_csv('../../../data/API_EN.ATM.CO2E.KT_DS2_en_csv_v2_1345584.csv', skiprows=4)
s = pd.Series(data['2014'])
s.sort_values(ascending=True)
print(s)

NameError: name 'true' is not defined